h1 {
    color: rgb(114, 130, 234);
}

.winterImg {
    width: 30%;
    height: 30%;
}
.winterImg2 {
    width: 150px;
    height: 100px;
}
a {
    color:blueviolet;
}
html {
    background-color: rgb(255, 255, 255);
}